<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='decode.css')}}">

    <h1 class="header">Decode your message</h1>
    <div class="container">

        <p class="para">Message (up to 1024 characters):
        </p>

        <form action="#" method="POST">

            <textarea name="decodenm" cols="30" rows="10" 
            id="inputText"   spellcheck="false" required></textarea><br>
           <div class="bu">
            <input type="submit" value="Submit" class="en"/>
        
            <input type="button" value="Reset" class="re" onclick="document.getElementById('inputText').value=''"/>
        

           </div>
               



        </form>

    </div>
    









</body>

</html>