<!-- <h2>Encoded Text = {{base64_string}}</h2>
<h2 class="decodenm">sample_string= {{sample_string}} &nbsp;&nbsp;&nbsp;&nbsp;</h2>
 -->

 <link rel="stylesheet" href="{{url_for('static', filename='decodedText.css')}}">
 <h1 class="headerDecodedText">Your Decoded Message</h1>


 <div class="DecodedTextcontainer">

    <h2 class="decodednm" id="Copyclipboard">{{sample_string}}</h2>

    
  

    



</div>


<a href="encode">
    <input type="button" value="Encode" class="en"/></a>

<a href="/">
    <input type="button" value="Back to Home" class="re"/ ></a>
        



 
        
